Table of Contents


# Movie Analysis

>Business Problem: Microsoft wants to make a movie company etc etc

In [1]:
import pandas as pd

# Load Data

In [39]:
df= pd.read_csv('data/bom.movie_gross.csv.gz')
df.head()

df.info
#look at missing data

df.isna().sum()
#drop the unknowns

df.dropna(subset=['domestic_gross', 'foreign_gross'])


#use .str to replace then convert to float
df['foreign_gross']= df.foreign_gross.str.replace(',', '').astype(float)

df.dtypes

title              object
studio             object
domestic_gross    float64
foreign_gross     float64
year                int64
dtype: object

In [41]:
#looking at movies that grossed  more than $100,000,000 domestically

df_highs= df.loc[df['domestic_gross'] > 100000000]
df_highs

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...
3116,Crazy Rich Asians,WB,174500000.0,64000000.0,2018
3119,Creed II,MGM,115700000.0,98300000.0,2018
3121,The Equalizer 2,Sony,102100000.0,88300000.0,2018
3123,The Mule,WB,103800000.0,68700000.0,2018
3129,A Wrinkle in Time,BV,100500000.0,32200000.0,2018

In [42]:
#looking at movies that grossed more than $100,000,000 internationally
df_highs_foreign= df.loc[df['foreign_gross'] > 100000000]
df_highs_foreign

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010
...,...,...,...,...,...
3124,Insidious: The Last Key,Uni.,67700000.0,100100000.0,2018
3125,The Predator (2018),Fox,51000000.0,109500000.0,2018
3126,Johnny English Strikes Again,Uni.,4400000.0,154500000.0,2018
3127,Red Sparrow,Fox,46900000.0,104700000.0,2018
3134,The Monkey King 3,WGUSA,187000.0,114900000.0,2018

In [71]:

df_highs.groupby(['studio', 'title']).mean().head(50)

df_highs_foreign.groupby(['studio','title']).mean().head(50)

                                                         domestic_gross  \
studio title
BV     Alice Through the Looking Glass                       77000000.0
       Alice in Wonderland (2010)                           334200000.0
       Ant-Man                                              180200000.0
       Ant-Man and the Wasp                                 216600000.0
       Avengers: Age of Ultron                              459000000.0
       Beauty and the Beast (2017)                          504000000.0
       Big Hero 6                                           222500000.0
       Black Panther                                        700100000.0
       Brave                                                237300000.0
       Captain America: Civil War                           408100000.0
       Captain America: The Winter Soldier                  259800000.0
       Cars 2                                               191500000.0
       Cars 3                                               152900000.0
       Cinderella (2015)                                    201200000.0
       Coco                                                 209700000.0
       Doctor Strange                                       232600000.0
       Finding Dory                                         486300000.0
       Frozen                                               400700000.0
       Guardians of the Galaxy                              333200000.0
       Guardians of the Galaxy Vol. 2                       389800000.0
       Incredibles 2                                        608600000.0
       Inside Out                                           356500000.0
       Iron Man 3                                           409000000.0
       John Carter                                           73100000.0
       Maleficent                                           241400000.0
       Marvel's The Avengers                                623400000.0
       Mary Poppins Returns                                 172000000.0
       Moana                                                248800000.0
       Monsters University                                  268500000.0
       Need for Speed                                        43600000.0
       Oz The Great and Powerful                            234900000.0
       Pirates of the Caribbean: Dead Men Tell No Tales     172600000.0
       Pirates of the Caribbean: On Stranger Tides          241100000.0
       Planes                                                90300000.0
       Prince of Persia: The Sands of Time                   90800000.0
       Ralph Breaks the Internet                            201100000.0
       Real Steel                                            85500000.0
       Rogue One: A Star Wars Story                         532200000.0
       Solo: A Star Wars Story                              213800000.0
       Star Wars: The Last Jedi                             620200000.0
       Step Up 3-D                                           42400000.0
       Tangled                                              200800000.0
       The BFG                                               55500000.0
       The Good Dinosaur                                    123100000.0
       The Jungle Book (2016)                               364000000.0
       The Lone Ranger                                       89300000.0
       The Nutcracker and the Four Realms                    54900000.0
       The Secret World of Arrietty                          19200000.0
       The Sorcerer's Apprentice                             63200000.0
       The Wind Rises                                         5200000.0

                                                         foreign_gross  year
studio title
BV     Alice Through the Looking Glass                     222400000.0  2016
       Alice in Wonderland (2010)                          691300000.0  2010
       Ant-Man                                             339100000.0  2015
       Ant-Man and the Wasp                                406000000.0  2018
       Avengers: Age of Ultron                             946400000.0  2015
       Beauty and the Beast (2017)                         759500000.0  2017
       Big Hero 6                                          435300000.0  2014
       Black Panther                                       646900000.0  2018
       Brave                                               303200000.0  2012
       Captain America: Civil War                          745200000.0  2016
       Captain America: The Winter Soldier                 454500000.0  2014
       Cars 2                                              370700000.0  2011
       Cars 3                                              231000000.0  2017
       Cinderella (2015)                                   342400000.0  2015
       Coco                                                597400000.0  2017
       Doctor Strange                                      445100000.0  2016
       Finding Dory                                        542300000.0  2016
       Frozen                                              875700000.0  2013
       Guardians of the Galaxy                             440200000.0  2014
       Guardians of the Galaxy Vol. 2                      473900000.0  2017
       Incredibles 2                                       634200000.0  2018
       Inside Out                                          501100000.0  2015
       Iron Man 3                                          805800000.0  2013
       John Carter                                         211100000.0  2012
       Maleficent                                          517100000.0  2014
       Marvel's The Avengers                               895500000.0  2012
       Mary Poppins Returns                                177600000.0  2018
       Moana                                               394600000.0  2016
       Monsters University                                 475700000.0  2013
       Need for Speed                                      159700000.0  2014
       Oz The Great and Powerful                           258399999.0  2013
       Pirates of the Caribbean: Dead Men Tell No Tales    622300000.0  2017
       Pirates of the Caribbean: On Stranger Tides         804600000.0  2011
       Planes                                              149000000.0  2013
       Prince of Persia: The Sands of Time                 245600000.0  2010
       Ralph Breaks the Internet                           328100000.0  2018
       Real Steel                                          213800000.0  2011
       Rogue One: A Star Wars Story                        523900000.0  2016
       Solo: A Star Wars Story                             179200000.0  2018
       Star Wars: The Last Jedi                            712400000.0  2017
       Step Up 3-D                                         116900000.0  2010
       Tangled                                             391000000.0  2010
       The BFG                                             127900000.0  2016
       The Good Dinosaur                                   209100000.0  2015
       The Jungle Book (2016)                              602500000.0  2016
       The Lone Ranger                                     171200000.0  2013
       The Nutcracker and the Four Realms                  119100000.0  2018
       The Secret World of Arrietty                        126400000.0  2012
       The Sorcerer's Apprentice                           152100000.0  2010
       The Wind Rises                                      112700000.0  2014

In [75]:
df1=pd.read_csv('data/imdb.title.ratings.csv.gz')
df1.head(50)

        tconst  averagerating  numvotes
0   tt10356526            8.3        31
1   tt10384606            8.9       559
2    tt1042974            6.4        20
3    tt1043726            4.2     50352
4    tt1060240            6.5        21
5    tt1069246            6.2       326
6    tt1094666            7.0      1613
7    tt1130982            6.4       571
8    tt1156528            7.2       265
9    tt1161457            4.2       148
10   tt1171222            5.1      8296
11   tt1174693            5.8      2381
12   tt1181840            7.0      5494
13   tt1193623            8.0         5
14   tt1199588            5.5        74
15   tt1204784            5.8         6
16   tt1210166            7.6    326657
17   tt1212419            6.5     87288
18   tt1220911            5.0       941
19   tt1229238            7.4    428142
20   tt1232829            7.2    477771
21   tt1235548            6.6      2725
22   tt1243974            5.4     54646
23   tt1250861            6.2       416
24   tt1258812            4.0        21
25   tt1261945            4.4     69199
26   tt1266037            7.0      1413
27   tt1270291            5.8      5728
28   tt1270761            5.6     44490
29   tt1272886            6.1      6688
30   tt1274297            5.4       381
31   tt1283887            5.4      2527
32   tt1285219            3.4       387
33   tt1287879            7.7        76
34   tt1290476            7.2         6
35   tt1294141            4.5       113
36   tt1320239            6.2     18431
37   tt1322312            6.3     54421
38   tt1323962            5.1       101
39   tt1325014            6.7      4240
40   tt1325019            7.2        29
41   tt1326743            8.4        21
42   tt1327602            7.8         8
43   tt1328913            5.2       738
44   tt1331329            3.6      1621
45   tt1332570            2.1        17
46   tt1343110            2.5       345
47   tt1343740            4.6       495
48   tt1346690            7.7         7
49   tt1352393            7.7      1293

In [73]:
df2=pd.read_csv('data/imdb.title.basics.csv.gz')
df2.head(50)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"
8,tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History"
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography
10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama
11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History"
16,tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,NaN
17,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama
18,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama
19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery"
20,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy"
21,tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama"
22,tt0253093,Gangavataran,Gangavataran,2018,134.0,NaN
23,tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama"
24,tt0262218,Akakis mogzauroba,Akakis mogzauroba,2012,44.0,Documentary
25,tt0262759,Seven Jews from My Class,Siedmiu Zydów z mojej klasy,2018,40.0,Documentary
26,tt0263814,On kadin,On kadin,2019,NaN,Drama
27,tt0276568,To Chase a Million,To Chase a Million,2018,97.0,"Action,Drama"
28,tt0277964,Prague: The Restless Heart of Europe,Praha - neklidné srdce Evropy,2018,59.0,"Documentary,History"
29,tt0283440,Short Time Heroes,Kurzzeithelden,2015,45.0,Sci-Fi
30,tt0285252,Life's a Beach,Life's a Beach,2012,100.0,Comedy
31,tt0285423,Abolição,Abolição,2019,NaN,Documentary
32,tt0293069,Dark Blood,Dark Blood,2012,86.0,Thriller
33,tt0293429,Mortal Kombat,Mortal Kombat,2021,NaN,"Action,Adventure,Fantasy"
34,tt0297400,Snowblind,Snowblind,2015,NaN,"Crime,Drama"
35,tt0306058,Second Coming,Second Coming,2012,95.0,NaN
36,tt0311448,Lives No Longer Ours,Lives No Longer Ours,2011,90.0,"Drama,Romance"
37,tt0312305,Quantum Quest: A Cassini Space Odyssey,Quantum Quest: A Cassini Space Odyssey,2010,45.0,"Adventure,Animation,Sci-Fi"
38,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama"
39,tt0323808,The Wicker Tree,The Wicker Tree,2011,96.0,"Drama,Horror"
40,tt0326592,The Overnight,The Overnight,2010,88.0,NaN
41,tt0326965,In My Sleep,In My Sleep,2010,104.0,"Drama,Mystery,Thriller"
42,tt0328810,My Land,Aamaar Bhuvan,2018,102.0,"Drama,Family"
43,tt0329539,Rice Girl,Rice Girl,2014,95.0,"Adventure,Comedy,Romance"
44,tt0330811,Regret Not Speaking,Regret Not Speaking,2011,NaN,NaN
45,tt0330987,"Tiden är en dröm, del 2","Tiden är en dröm, del 2",2014,109.0,NaN
46,tt0331312,This Wretched Life,This Wretched Life,2010,99.0,"Comedy,Drama"
47,tt0331314,Bunyan and Babe,Bunyan and Babe,2017,84.0,"Adventure,Animation,Comedy"
48,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance"
49,tt0337882,Blind Sided,Blind Sided,2010,NaN,"Comedy,Crime,Drama"

In [ ]:
df_clean=df_imdb_titles.dropna(subset=['genres'])
df_clean.dtype()

In [ ]:
all_genres_str= df.join(df_imdb_titles.genres.unique())

In [ ]:
all_genres_list= all_genres_str.split(',')
all_genres_list

In [ ]:
unique_genres_set=set(all_genres_list)
unique_genres_set

In [ ]:
#genre = 'Action'
for genre in unique_genre_set:
        df_clean.genres.map(lambda val: 1 if genre in val else 0)

In [ ]:
df_clean.genres[0]

In [ ]:
genre = 'Action'
for genre_list in df_clean_genres: